body {
	font-family:Verdana;
	font-size:12px;
	color: #535353;
	background: #a8d0e4;
	
}
#global h1{
	background: #f2f6ff;
	-moz-border-radius:8px;
	-webkit-border-radius:8px; 
	border-radius:8px;
	font-family:Verdana;
}
table{

	border:none;
}

td{
	padding:2px;
	border:1px solid #BBB;
}

tr{
	border:none;
}
a {
	color: #4c8fb1;
}
a:hover, a:focus {
	color: #FF4C00;
}
strong {
	color: #A1B55D;
}
/* Navigation */
#navigation {
	margin-top : 50px;
	background: #deeef7;
	-webkit-top-left-border-radius:8px;
	-webkit-top-right-border-radius:8px; 
	
	border-top-left-radius:8px;
	border-top-right-radius:8px;
	height : 25px;
	padding: 5px 10px;

}
#navigation a {
	color: #4c8fb1;
	padding:5px;
	margin-right:20px;
	text-decoration: none;
	font-weight: bold;
}
#navigation a:hover, #navigation a:focus {
	background: #FFFFFF;
	-moz-border-radius:8px;
	-webkit-border-radius:8px; 
	border-radius:8px;
	
	-webkit-top-left-border-radius:0px;
	-webkit-top-right-border-radius:0px; 
	
	border-top-left-radius:0px;
	border-top-right-radius:0px;
	
}

/* Bloc central */
#centre {
	
	
}

/* Contenu principal */
#principal {
	color: #181A12;
	background: #FFFFFF; /* -> 2 */
}
#principal a {
	color: #332510;
}
#principal a:hover, #principal a:focus {
	color: #6E5122;
}
#principal strong {
	color: #181A12;
}

/* Contenu secondaire */
#secondaire {
	background: #181A12; /* -> 2 */
}



/* --- POSITIONNEMENT --- */

/* Page */


#global {

	margin-top:0;
	width: 1000px;
	margin: 0 auto; /* -> 3 */
}

/* En-tête */
#entete {
	margin-left: 100px;
	padding: 20px;
}
#entete:hover {
	margin-left: 150px;
	padding: 20px;
}
#entete h1 {
	margin: 0;
}
#entete h1 img {
	float: left;
	margin: 7px 20px 10px 0;
}
#entete .sous-titre {
	margin: 4px 0 15px 0;
	margin-left: 400px;
}


/* Bloc central */
#centre {
	width: 100%; /* -> 4 */
	overflow: hidden; /* -> 4 */
	-moz-border-radius-bottomleft:8px;
	-moz-border-radius-bottomright:8px;
	
	-webkit-bottom-left-border-radius:8px;
	-webkit-bottom-right-border-radius:8px; 
	
	border-bottom-left-radius:8px;
	border-bottom-right-radius:8px;	;
}

/* Contenu principal */
#principal {
	padding: 10px 20px;
}
#principal > :first-child {
	margin-top: 10px;
}
#principal p, #principal li {
	line-height: 1.5;
}

/* Contenu secondaire */
#secondaire {
	margin-left: 620px; /* -> 6 */
	margin-right: 120px;
	padding: 12px 0;
}

/* Mention de copyright */
#copyright {
	margin: 20px 0;
	font-size: .85em;
	text-align: left;
}



